

<div id="createContent" #editor
  [attr.contenteditable]="true" 
  [innerHTML]="feedContent" 
  [mentionConfig]="mentionConfig" 
  (keyup)="removeSpecialChar($event)"
  (searchTerm)="searchTermFunc($event)" 
  [mentionListTemplate]="mentionListTemplate"
  data-placeholder="What's on your mind, write here" 
  aria-placeholder="What's on your mind, write here" 
  placeholder="What's on your mind, write here">
</div>

<ng-template #mentionListTemplate let-item="item">
  <div class="d-flex no-gutters" *ngIf="item.fullName">
    <div class="align-self-center tc">
      <div class="m-auto" style="width: 40px;height: 40px;">
        <h6>{{item.fullName}}</h6>
      </div>
    </div>
    <div class="ml-2">
      <p class="bold text-capitalize">{{ item.fullName }}</p>
      <p class="smallerFont">{{ item.profileTitle}}</p>
    </div>
  </div>
</ng-template>